<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>We establish this website to provide a centralized platform for excited state data, including, <i>i.e.</i> excited state dynamics trajectories. 
        (Some more details about the type of molecules studied, [2+2], cis/trans isomerization, ...)
        </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you are looking for databases for a specific showcase to test/validate methods 
          or a way to showcase results and share projects, this is the starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
<!--        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline"> -->
<!--          <i class="fa fa-download"></i> Download Theme -->
<!--        </a> -->
      </div>
    </div>
  </div>
</section>
