
<section id="cite">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>How to cite SHNITSEL</h2>
        <hr class="star-primary">
        <br>
        <!-- <hr class="star-primary"> -->
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          To to acknowledge SHNITSEL, you can cite the dataset, published in:
        <p>
      </div>
    </div>
    <!-- 2nd row with citation -->
    <div class="row">
      <div class="col-lg-2 text-center">
        <h3 style="color:#2c3e50">SHNITSEL-data</h3>
      </div>
      <div class="col-lg-7">
        <div class="col-lg-10 text-center">
          <p>
          R. Curth, T.E. Röhrkasten, C. Müller, J. Westermayr<br>
          Surface Hopping Nested Instances Training Set for Excited-state Learning<br>
          <i>Sci Data</i> <b>2025</b>, <i>12</i>, 1300, DOI: <a href="https://doi.org/10.1038/s41597-025-05443-5" target="_blank">10.1038/s41597-025-05443-5</a>
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <ul class="list-inline">
          <li><a class="btn btn-lg btn-success" href="https://doi.org/10.1038/s41597-025-05443-5" target="_blank"><i class="fa-solid fa-newspaper" style="font-size:24px;color:#ffffff;"></i> Article</a></li>
          <li><a class="btn btn-lg btn-success" href="https://github.com/SHNITSEL/shnitsel.github.io/blob/main/shnitsel-tools.bib" target="_blank"><i class="fa-solid fa-bookmark" style="font-size:24px;color:#ffffff;"></i> Citation (*.bib)</a></li>
        </ul>
      </div>
    </div>
    <!-- 3rd row with buttons -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          Moreover, you can share the link to our web page, providing direct access to detailed information about SHNITSEL, or use the SHNITSEL logo(s).
          <br><br>
          <a href="https://github.com/SHNITSEL/shnitsel-tools" class="btn btn-lg btn-success" style="background-color:#2c3e50"><i class="fa-solid fa-code" style="color:white"></i> Code</a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://zenodo.org/records/15482819" class="btn btn-lg btn-success" style="background-color:#2c3e50", target=”_blank”> <i class="fa-solid fa-database" style="color:white"></i>&nbsp;&nbsp;&nbsp; Data</a> 
        </p>
      </div>
    </div>
  </div>
</section>
