<section id="empty"> </section>

<section id="cite">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>How to cite SHNITSEL</h2>
        <hr class="star-primary">
        <br>
        <!-- <hr class="star-primary"> -->
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          To to acknowledge SHNITSEL, you can cite the dataset and the code.
          <!-- You have the option to cite our publications, which highlight the research and development behind SHNITSEL services.-->
          Alternatively, you can share the link to our web page, providing direct access to detailed information about SHNITSEL, or use the SHNITSEL logo.
          <br><br>
          <a href="https://github.com/SHNITSEL/shnitsel-tools" class="btn btn-lg btn-success" style="background-color:#2c3e50"><i class="fa-solid fa-code" style="color:white"></i> Code</a>
          &nbsp;&nbsp;&nbsp;
          <a href="https://zenodo.org/records/14910195" class="btn btn-lg btn-success" style="background-color:#2c3e50"> <i class="fa-solid fa-database" style="color:white"></i>&nbsp;&nbsp;&nbsp; Data</a> 
        </p>
      </div>
    </div>
    <br>
    <!--<div class="col-lg-2 col-lg-offset-1">
      <div style="background-color: #C4A000 ; padding: 10px; color:white;">
        Title <br>
        Authors <br>
        Journal Details <br>
        DOI
      </div>
    </div>-->
  </div>
</section>
