<!-- About the Team -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>SHNITSEL Contributors</h2>
        <hr class="star-primary">
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <br><br>
    <div class="row">
      <!-- <div class="col-lg-1 col-lg-offset-1"><vr class="star-primary"></div> -->
      <div class="col-lg-1"><i class="fa-solid fa-code" style="font-size:30px;color:#2c3e50;"></i></div>
      <div class="col-lg-10">
        <p><b> Theodor Röhrkasten </b><br>
          Theodor developed the <a href="https://github.com/SHNITSEL/shnitsel-tools/tree/main/shnitsel/dynamic" target="_blank" style="color:#2c3e50;">shnitsel.dynamic</a> module of the shnitsel Python package, which handles the parsing and loading of datasets, post-processing of static and dynamic data, 
          and visualization of high-dimensional trajectory data. His work ensures that shnitsel can efficiently analyze and represent complex molecular dynamics simulations. 
          Additionally, he collaborated on the development of the shnitsel website.
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- <div class="col-lg-1 col-lg-offset-1"><vr class="star-primary"></div> -->
      <div class="col-lg-1"><i class="fa-solid fa-code" style="font-size:30px;color:#2c3e50;"></i></div>
      <div class="col-lg-10">
        <p><b> Robin Curth </b><br>
          Robin developed the <a href="https://github.com/SHNITSEL/shnitsel-tools/tree/main/shnitsel/static" target="_blank" style="color:#2c3e50;">shnitsel.static</a> module of the shnitsel Python package, which provides specialized visualization tools for static data. 
          His contributions enable clear and effective representation of key molecular properties and simulation results.
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- <div class="col-lg-1 col-lg-offset-1"><vr class="star-primary"></div> -->
      <div class="col-lg-1"><i class="fa-solid fa-list-ul" style="font-size:30px;color:#2c3e50;"></i></div>
      <div class="col-lg-10">
        <p><b> Carolin Müller </b><br>
          Carolin co-conceptualized and supervised the shnitsel project, overseeing its development and integration into computational workflows. 
          She developed, illustrated and maintains the shnitsel website.
          <br>
          <a href="mailto:carolin.cpc.mueller@fau.de" class="btn btn-lg btn-outline" style="background-color:#2c3e50"> <i class="fa-solid fa-envelope" style="color:white"></i> carolin.cpc.mueller@fau.de </a> 
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- <div class="col-lg-1 col-lg-offset-1"><vr class="star-primary"></div> -->
      <div class="col-lg-1"><i class="fa-solid fa-list-ul" style="font-size:30px;color:#2c3e50;"></i></div>
      <div class="col-lg-10">
        <p><b> Julia Westermayr </b><br>
          Julia co-conceptualized and supervised the shnitsel project, ensuring its development aligned with the needs of the scientific community.
          She co-organized the CECAM workshop where the idea for shnitsel was initiated.
          <br>
          <a href="mailto:julia.westermayr@uni-leipzig.de" class="btn btn-lg btn-outline" style="background-color:#2c3e50"> <i class="fa-solid fa-envelope" style="color:white"></i> julia.westermayr@uni-leipzig.de </a>
        </p>
      </div>
    </div>
  </div>
</section>
