<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/logo_shnitsel-data.png" width="250" alt="shnitsel-data" />
        <div class="intro-text">
          <span class="name">{{ SHNITSEL-DATA }}</span>
          <hr class="star-light" />
          <span class="skills">
            ... is a compilation of surface hopping datasets that offers high-quality quantum chemical data (e.g. energies, forces, nonadiabatic couplings) of photochemical reactions; ideal for benchmarking and machine learning applications. 
          </span>
        </div>
        <br>
      </div>
    </div>
  </div>
</header>
