<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/logo_shnitsel-tools.png" width="250" alt="shnitsel-data" />
        <div class="intro-text">
          <span class="name">{{ SHNITSEL-TOOLS }}</span>
          <hr class="star-light" />
          <span class="skills">
             ... is an integrated Python software package for the streamlined collection, managment, processing, analysis and visualization of surface hopping data.
          </span>
        </div>
        <br>
      </div>
    </div>
  </div>
</header>
