<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Overview</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h3><b>shnitsel-data<b></h3>
        <br>
        <img src="img/logo_shnitsel-data.png" height="250"><br>
        <br>
        <p>
        ... is a compilation of surface hopping datasets that offers high-quality quantum chemical data (e.g. energies, forces, nonadiabatic couplings) 
          of photochemical reactions; ideal for benchmarking and machine learning applications.
        <br>
        </p>
      </div>
      <div class="col-lg-4 col-lg-offset-2">
        <h3><b>shnitsel-tools<b></h3>
        <br>
        <img src="img/logo_shnitsel-tools.png" height="246"><br>
        <br>
        <p>
        ... is an integrated Python software package for the streamlined collection, managment, processing, analysis and visualization of surface hopping data.
        <br>
        </p>
      </div>
    </div>
  </div>
</section>
