---
layout: shpage
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body onload="init()">
    <div class="wrapper">
      <div class="content">
      
      <section class="success" id="dynamic">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>Datasheets</h2>
              <hr class="star-light">
            </div>
          </div>
          <br><br>
          <!-- iterate over all files and list them in a table for all molecules -->
          {% for r in site.molecules %}
            {% if r.shnitselname %}
            <div class="row">
              <div class="col-lg-1 col-lg-offset-2">
                <p><a href="{{ r.url }}" target="_blank" style="color:white"><i class="fa-solid fa-chart-line" style="font-size:24px;color:white"></i> <b>{{ r.shnitselname }}</b></a></p>
              </div>
              <div class="col-lg-2">
                <p><i>{{ r.shnitselcategory }}</i></p>
              </div>
              <div class="col-lg-7">
                <p>{{ r.shortdescription }}</p>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </section>
        
      </div>
    </div>
  </body>
</html>
